@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

//font
$primary-font: Roboto, Helvetica, sans-serif;
$primary-font-size: 1rem; //16px
$primary-font-weight: 500;

//color
$primary-color: #2980b9;
$white: #ffffff;

//break-point

$mobile-screen: 480px;
